# cluster/local run products
# ========================
# Container images
*.tar
*.sif

# ========================
# Submodules source code
src/

# ========================
# Output directories
run/
runs/
output/
logs/

# ========================
# Python
python/electra.egg-info

# ========================
# VSCode
.vscode/

# ========================
# Rivet output directories
rivet_out_*/**

# ========================
# macOS
.DS_Store

# ========================
# Build files
electra-shell

# ========================
old_electra_script
modified_files/

