# cluster/local run products
# ========================
slurm-scripts/cluster.env

# Container images
*.tar
*.sif

# ========================
# Submodules source code
src/

# ========================
# Output directories
output/

# ========================
# Python artifacts
__pycache__/
python/electra.egg-info

# ========================
# VSCode
.vscode/

# ========================
# macOS
.DS_Store

# ========================
# Build files
electra-shell

# ========================
modified_files/

# ========================
# Test output
test/

# ========================
# Development documentation
docs/

# ========================
# Analysis output
analysis/

# ========================
# Development directory
dev/