# cluster/local run products
# ========================
# Container images
*.tar
*.sif

# ========================
# Submodules source code
src/

# ========================
# Output directories
run/
runs/
output/
logs/

# ========================
# VSCode
.vscode/

# ========================
# Rivet output directories
rivet_out_*/**

# ========================
# macOS
.DS_Store